.globalThemes,
.localThemes {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
  padding: 20px;
  box-shadow: 0 0 10px gray;
  width: var(--max-width);
  max-width: 90vw;
  margin: 40px auto;
  border-radius: 20px;
  flex-wrap: wrap;
}

.example {
  border-radius: 10px;
  box-shadow: 0 0 10px gray;
  overflow: hidden;
  background: var(--bg-color);
}

.example * {
  background: var(--bg-color);
}

.example header {
  padding: 10px;
  text-align: end;
}

.example main {
  width: 300px;
  height: 100px;
  padding: 10px;
}

.themes {
  --bg1: var(--bg-dark);
  --bg2: var(--bg-light);
  list-style-type: none;
  padding: 10px;
  display: flex;
  gap: 30px;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  max-width: 400px;
  margin: auto;
}

.themes button {
  height: 30px;
  width: 30px;
  border-radius: 5px;
  background: linear-gradient(-45deg, var(--bg1), var(--bg1) 45%, var(--bg2) 55%, var(--bg2));
  box-shadow: 0 0 10px gray;
  cursor: pointer;
}

.theme1 {
  --bg1: var(--th1-bg-dark);
  --bg2: var(--th1-bg-light);
}

.theme2 {
  --bg1: var(--th2-bg-dark);
  --bg2: var(--th2-bg-light);
}
